spring:
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 59.110.243.130:9300
  thymeleaf:
    cache: false
  datasource:
    username: root
    password: root
    url: jdbc:mysql://59.110.243.130:3306/law?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    maxActive: 20
    initialSize: 5
    maxWait: 60000
    minIdle: 10
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    maxOpenPreparedStatements: 20
    removeAbandoned: true
    removeAbandonedTimeout: 1800
    logAbandoned: true
  redis:
    host: 59.110.243.130
logging:
  path: /opt/spring/log